nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:20px;
  .navLogo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
  }
}
